<!DOCTYPE html>
<html lang="en">

<head>
  <title>Henrry Bourgeot</title>
  <link rel="shortcut icon" href="/static/images/code.ico" type="image/x-icon" />
  <meta name="description"
    content="I am a back-end developer in development, I am very curious to know how databases work and how to bring data from them through a language. I have knowledge of web design, but to be honest." />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body class="is-preload">
  {{with .Flash}}
    <div class="flash">{{.}}</div>
  {{end}}
  <section id="header">
    <header>
      <span class="image avatar"><img src="/static/images/avatar.webp" alt="" /></span>
      <h1 id="logo"><a href="#">Henrry Bourgeot</a></h1>
      <p>Back-End Programmer, if you can imagine it, you can program it.</p>
    </header>
    <nav id="nav">
      <ul>
        <li><a href="#one" class="active">About</a></li>
        <li><a href="#two">Things I Can Do</a></li>
        <li><a href="#three">Portfolio</a></li>
        <li><a href="#four">Contact me</a></li>
      </ul>
    </nav>
    <footer>
      <p>Contact Links:</p>
      <ul class="icons">
        <li>
          <a href="https://www.twitter.com/hen_geek" class="icon brands fa-twitter" target="_blank"><span
              class="label">Twitter</span></a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@hen.geek" class="icon brands fa-tiktok" target="_blank"><span
              class="label">Tiktok</span></a>
        </li>
        <li>
          <a href="https://www.instagram.com/hen.geek" class="icon brands fa-instagram" target="_blank"><span
              class="label">Instagram</span></a>
        </li>
        <li>
          <a href="https://github.com/hbourgeot" class="icon brands fa-github" target="_blank"><span
              class="label">Github</span></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/hbourgeotjr" class="icon brands fa-linkedin-in" target="_blank"><span
              class="label">Linkedin</span></a>
        </li>
        <li>
          <a href="mailto:henrrybrgt@gmail.com" class="icon solid fa-envelope" target="_blank"><span
              class="label">Email</span></a>
        </li>
      </ul>
    </footer>
  </section>
  <div id="wrapper">
    <div id="main">
      <section id="one">
        <div class="image main" data-position="center">
          <div id="tsparticles"></div>
        </div>
        <div class="container">
          <header class="major">
            <h2>Henrry Bourgeot Portfolio</h2>
            <p>
              Look here what I can do for you, well, it depends of what do you
              want.
            </p>
          </header>
          <p>
            I am a back-end developer in development, I am very curious to
            know how databases work and how to bring data from them through a
            language. I have knowledge of web design, but to be honest.
          </p>
        </div>
      </section>
      <section id="two">
        <div class="container">
          <h3>Things I Can Do</h3>
          <p>
            I can program in the nexts languages and manage in these databases
            servers:
          </p>
          <ul class="feature-icons">
            <li class="icon brands fa-css3-alt">CSS</li>
            <li class="icon brands fa-html5">HTML</li>
            <li class="icon brands fa-python">Python</li>
            <li class="icon brands fa-js-square">JavaScript</li>
            <li class="icon brands fa-golang">Go</li>
            <li class="icon solid fa-database">Microsoft SQL Server</li>
            <li class="icon solid fa-database">MySQL</li>
            <li class="icon brands fa-database">PostgreSQL</li>
          </ul>
          <p>Operation of other programs, frameworks and tools</p>
          <ul class="feature-icons">
            <li class="icon brands fa-sass">SASS</li>
            <li class="icon brands fa-bootstrap">Bootstrap</li>
            <li class="icon solid fa-code">Tailwind</li>
            <li class="icon brands fa-git-alt">Git</li>
            <li class="icon solid fa-code">VS Code / Visual Studio</li>
            <li class="icon brands fa-linux">Bash</li>
            <li class="icon brands fa-docker">Docker</li>
          </ul>
        </div>
      </section>
      <section id="three">
        <div class="container">
          <h3>Portfolio</h3>
          <div class="features">
            <article>
              <a href="https://github.com/hbourgeot/crud-go" class="image" target="_blank"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDtGa9kdyiqn_FMKGrRVbsws3uwlzl2h7A8A&usqp=CAU"
                  alt="Golang CRUD" /></a>
              <div class="inner">
                <h4>Golang CRUD</h4>
                <p>
                  Golang CRUD maked from 0, using PostgreSQL, cero Go libraries.
                </p>
              </div>
            </article>
            <article>
              <a href="https://github.com/hbourgeot/hangman-api/" class="image" target="_blank"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT05DJsNsc2w6q8H5uIM6WsjDPJXIHmDb091w&usqp=CAU"
                  alt="Hangman API" /></a>
              <div class="inner">
                <h4>Hangman API</h4>
                <p>
                  This API is easy to use, since it is designed for data consumption, although you can also enter hints
                  with their respective responses.
                </p>
              </div>
            </article>
            <article>
              <a href="https://github.com/hbourgeot/hangman-api/" class="image" target="_blank"><img
                  src="https://repository-images.githubusercontent.com/260928305/92388600-8d1c-11ea-9993-a726466b5099"
                  alt="Hangman Fast-API" /></a>
              <div class="inner">
                <h4>Hangman API</h4>
                <p>
                  The same API, but writed in Fast API.
                </p>
              </div>
            </article>
            <article>
              <a href="/store" target="_blank" class="image" target="_blank"><img
                  src="https://aziest1xcg379.blob.core.windows.net/ve-uploads/2021/08/ecommerce.jpg"
                  alt="TodoTech Store" /></a>
              <div class="inner">
                <h4>TodoTech Store</h4>
                <p>
                  browser for save the tasks. Click on the info button located
                  at the top left corner for know how to use this tool.

                </p>
              </div>
            </article>
            <article>
              <a href="https://github.com/hbourgeot/henbot" target="_blank" class="image">
                <img src="https://gopherize.me/gopher/a3db0016182cae4f01690c2a47b097e882df815e" alt="Discord Henbot">
              </a>
              <div class="inner">
                <h4>Discord Henbot</h4>
                <p>Made for my Discord Server, feel free of use the source code of the bot for your own discord bots
                  writed in Go.</p>
              </div>
            </article><article>
              <a href="https://t.me/karmagobot" target="_blank" class="image">
                <img src="/static/img/karmagobot.png" alt="Go Karma Bot">
              </a>
              <div class="inner">
                <h4>Go Karma Bot</h4>
                <p>Bot for add and substract karma, This bot only works on groups.</p>
              </div>
            </article>
          </div>
        </div>
      </section>
      <section id="four">
        <div class="container">
          <h3>Contact</h3>
          <p>If you want, fill the form, and I'll contact you soon.</p>
          <form method="post" action="/send">
            <div class="row gtr-uniform">
              <div class="col-6 col-12-xsmall">
                <input type="text" name="name-form" id="name" placeholder="Name" maxlength="60" required />
              </div>
              <div class="col-6 col-12-xsmall">
                <input type="email" name="email-form" id="email" placeholder="Email" maxlength="30" required />
              </div>
              <div class="col-12">
                <input type="text" name="subject-form" id="subject" placeholder="Subject" maxlength="50" required />
              </div>
              <div class="col-12">
                <textarea name="message-form" id="message" placeholder="Message" rows="6" maxlength="254"
                  required></textarea>
              </div>
              <div class="col-12">
                <ul class="actions">
                  <li>
                    <input type="submit" class="primary" value="Send Message" id="submit" />
                  </li>
                  <li><input type="reset" value="Reset Form" /></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <section id="footer">
      <div class="container">
        <ul class="copyright">
          <li>&copy; Henrry Bourgeot. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.scrollex.min.js"></script>
  <script src="/static/js/jquery.scrolly.min.js"></script>
  <script src="/static/js/browser.min.js"></script>
  <script src="/static/js/breakpoints.min.js"></script>
  <script src="/static/js/util.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tsparticles@1/tsparticles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/tsparticles-preset-confetti@1/tsparticles.preset.confetti.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>
